<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Precio de Casas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Predicción de Precio de Casas</h2>
        <form method="POST" class="mt-4">
            <div class="form-group">
                <label for="bedrooms">Dormitorios:</label>
                <input type="text" class="form-control" name="bedrooms" required>
            </div>

            <div class="form-group">
                <label for="bathrooms">Baños:</label>
                <input type="text" class="form-control" name="bathrooms" required>
            </div>

            <div class="form-group">
                <label for="sqft_living">Metros Cuadrados de Espacio Habitable:</label>
                <input type="text" class="form-control" name="sqft_living" required>
            </div>

            <div class="form-group">
                <label for="sqft_lot">Metros Cuadrados del Terreno:</label>
                <input type="text" class="form-control" name="sqft_lot" required>
            </div>

            <div class="form-group">
                <label for="waterfront">Frente al Agua:</label>
                <input type="text" class="form-control" name="waterfront" required>
            </div>

            <div class="form-group">
                <label for="view">Vista:</label>
                <input type="text" class="form-control" name="view" required>
            </div>

            <div class="form-group">
                <label for="condition">Condición:</label>
                <input type="text" class="form-control" name="condition" required>
            </div>

            <div class="form-group">
                <label for="grade">Grado:</label>
                <input type="text" class="form-control" name="grade" required>
            </div>

            <div class="form-group">
                <label for="sqft_above">Metros Cuadrados Sobre el Nivel del Suelo:</label>
                <input type="text" class="form-control" name="sqft_above" required>
            </div>

            <div class="form-group">
                <label for="sqft_basement">Metros Cuadrados del Sótano:</label>
                <input type="text" class="form-control" name="sqft_basement" required>
            </div>

            <div class="form-group">
                <label for="yr_built">Año de Construcción:</label>
                <input type="text" class="form-control" name="yr_built" required>
            </div>

            <div class="form-group">
                <label for="yr_renovated">Año de Renovación:</label>
                <input type="text" class="form-control" name="yr_renovated" required>
            </div>

            <div class="form-group">
                <label for="zipcode">Código Postal:</label>
                <input type="text" class="form-control" name="zipcode" required>
            </div>

            <div class="form-group">
                <label for="lat">Latitud:</label>
                <input type="text" class="form-control" name="lat" required>
            </div>

            <div class="form-group">
                <label for="long">Longitud:</label>
                <input type="text" class="form-control" name="long" required>
            </div>

            <div class="form-group">
                <label for="sqft_living15">Metros Cuadrados del Espacio Habitable de los Últimos 15 Años:</label>
                <input type="text" class="form-control" name="sqft_living15" required>
            </div>

            <div class="form-group">
                <label for="sqft_lot15">Metros Cuadrados del Terreno de los Últimos 15 Años:</label>
                <input type="text" class="form-control" name="sqft_lot15" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Predecir</button>
        </form>
        {% if prediction_text %}
            <h3 class="text-center mt-4">{{ prediction_text }}</h3>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
